				<!-- Site footer -->
<footer class="site-footer bg-light">
	<div class="container">
		<nav class="mb-3">
			<ul class="list-inline text-center">
				<li class="list-inline-item">
					<a class="btn btn-sm btn-icon btn-outline-dark border-0 rounded-circle" target="_blank" href="https://www.linkedin.com/in/devozkanyilmaz/">
						<span class="btn-icon-inner fab fa-linkedin"></span>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="btn btn-sm btn-icon btn-outline-dark border-0 rounded-circle" target="_blank" href="https://github.com/ozkanyllmaz">
						<span class="btn-icon-inner fab fa-github"></span>
					</a>
				</li>
				
			</ul>
		</nav>
		<p class="text-center">© @DateTime.Now.Year - Tüm hakları saklıdır</p>
	</div>
</footer>